<!-- Responsive navbar-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container px-5">
        <a class="navbar-brand" href="{% url 'home:index' %}">Smile</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0 d-flex align-items-center">
                <li class="nav-item"><a class="nav-link {% if request.path == '/' %}active {% endif %}" aria-current="page" href="{% url 'home:index' %}">Inicio</a></li>
                {% if user.is_authenticated %}
                    <li class="nav-item"><a class="nav-link{% if request.path == '/' %}active {% endif %}" href="{% url 'producto:index' %}">Productos</a></li>
                    <li class="nav-item"><a class="nav-link text-bg-light">{{ user.username }}</a></li>
                    <li><a class="nav-link text-info" href="{% url 'home:logout' %}">Logout</a></li>
                    <li class="nav-item"><a class="nav-link {% if request.path == '/' %}active {% endif %}" href="{% url 'resena:index' %}">Reseñas</a></li>
                    <li class="nav-item"><a class="nav-link {% if request.path == '/' %}active {% endif %}" href="{% url 'pedido:index' %}">Pedido</a></li>
                    {% if user.vendedor.avatar.url %}
                        <img src="{{ user.vendedor.avatar.url }}" alt="avatar" height="30px">
                        
                    {% endif %}
                {% elif user.is_staff %}    
                    <li class="nav-item"><a class="nav-link {% if request.path == '/' %}active {% endif %}" href="{% url 'cliente:index' %}">Clientes</a></li>
                    <li class="nav-item"><a class="nav-link {% if request.path == '/' %}active {% endif %}" href="{% url 'pedido:index' %}">Pedido</a></li>
                    <li class="nav-item"><a class="nav-link {% if request.path == '/' %}active {% endif %}" href="{% url 'resena:index' %}">Reseñas</a></li>
                    <li><a class="nav-link" href="{% url 'home:register' %}">Registro</a></li>
                {% else %}
                    <li class="nav-item"><a class="nav-link" href="#!">¿Quienes somos?</a></li>
                    <li><a class="nav-link" href="{% url 'home:login' %}">Login</a></li>
        
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
